// this line applies green color for class current
.current {
    color: green;
  }
.default-body {
    margin: 0;
}
.navigation {
    margin-left: auto;
    font-family: 'News Cycle', sans-serif;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: steelblue;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 8px 12px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: white;
      color: black;
    }
}
.post {
  .info {
    align-content: center;
    text-align: center;
  }
  .toc {
    font-size: smaller;
    float: left;
    width: 200px;
    height: 100%;
    padding-left: 0em;
    list-style-position: outside;
  }
  .content {
    float: left;
    width: 80%;
  }
  /* Clear floats after the columns */
  .post:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .toc {
      width: 400px;
      display: flex;
      justify-content: center;
    }
    .content {
      width: 100%;
    }
  }
}