<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yadsendew | {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/P3/AD6f+gDrtUIAFhYXAAJt0QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzMzMzAAAAAzERERMwAAAzERERETMAADMRERERMwAzMxEREREzMzMzERERETMzAzMRERERMzAAMzERERMzAAAzMxVRMzMAADMzIiIzMwAAM0RVVUQzAAAzRDVTRDMAADMzMzMzMwAAAzMzMzMwAAAAMzMzMwAAAAADMzMwAADwDwAA4AcAAMADAADAAwAAAAAAAAAAAACAAQAAwAMAAMADAADAAwAAwAMAAMADAADAAwAA4AcAAPAPAAD4HwAA" rel="icon" type="image/x-icon" />
  </head>
  <body class="default-body">
    {% include navigation.html %}
    {{ content }}
  </body>
</html>