---
layout: default
---
<link rel="stylesheet" href="/assets/css/Article-Clean.css">
<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">{{ page.title }}</h1>
                    <p class="text-center">
                        <span class="by">by </span><a href="">yadsendew</a>
                        <span class="date"> on {{ page.date | date_to_string }} </span>
                    </p>
                </div>
                <div class="text">
                    <!-- if HTMLtoc is enable, show it! -->
                    {% if page.toc == true  or page.ordered == true or page.ordered == false %}
                        <div>
                            {% if page.ordered == true %}
                                {% include toc.html html=content ordered=true %}
                            {% else %}
                                {% include toc.html html=content %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div>
                        <article>
                            {% include anchor_headings.html html=content %}
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>