---
layout: default
---

<link rel="stylesheet" href="/assets/css/mdstyle.css">

<div id="post-container">
    <div id="table-of-contents">
        <div class="title">

        </div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
        {% if page.ordered == true %}
            {% include toc.html html=content ordered=true %}
        {% else %}
            {% include toc.html html=content %}
        {% endif %}
    </div>
    <div id="post-content">
        <article class="markdown-body">
            {% include anchor_headings.html html=content %}
        </article>
    </div>
</div>
